<footer>
  <ul class="clearfix">
    <li>
      <a class="<%= (active == 'create') ? 'active' : '' %>" href="create.html?ver=20151202">发起比赛</a>
    </li>
    <li>
      <a class="<%= (active == 'list') ? 'active' : '' %>" href="list.html?ver=20151202">参赛记录</a>
    </li>
    <li>
      <a class="<%= (active == 'home') ? 'active' : '' %>" href="home.html?ver=20151202">我的水平</a>
    </li>
    <li>
      <a class="<%= (active == 'wallet') ? 'active' : '' %>" href="wallet.html?ver=20151202">钱包</a>
    </li>
  </ul>
</footer>