//颜色变量
$white             : #fff;
$gray              : #b0b7d1;
$light             : #686f81;
$orange            : #ff5a00;
$blue              : #00ffff;
$red               : #fc4340;
$green             : #23f286;
$yellow            : #ffc600;
$placeholder-color : #4e5460;
$notice-color      : #4e5460;
$bg-gray           : #313540;
$bg-back           : #262932;
$bg-nav            : #3e424e;
$border-color      : #32353e;
$more-light        : #d4e0fa;


$baseFontSize      : 100px !default;
$font-family       : "Microsoft YaHei";
