/* wallet.html */
@import "../variable";

.p-header {
  background-color: $bg-gray;
  height: pxToRem(60px);
  line-height: pxToRem(60px);
  text-align: center;
  color: $yellow;
  font-size: pxToRem(16px);
}
.p-main {
  text-align: center;
  color: white;
  padding: pxToRem(20px);
  font-size: pxToRem(14px);
  span {
    color: $yellow;
    font-weight: bold;
  }
  img {
    margin-top: pxToRem(20px);
  }
  .p-guide-img {
    margin-top: pxToRem(0px);
  }
  .p-btn {
    color:white;
    display: block;
    height: pxToRem(40px);
    line-height: pxToRem(40px);
    text-align: center;
    width: pxToRem(160px);
    background-color: $orange;
    border-radius: pxToRem(3px);
    margin: pxToRem(40px) auto;
    &:active {
      background-color: #E85200;
      color:white;
    }
  }
}
.p-note {
  position: absolute;
  height: pxToRem(20px);
  width: pxToRem(100px);
  border: solid 1px red;
  top: pxToRem(185px);
  left: pxToRem(40px);
}