@@include('_mate.html', { title:'我的钱包' })

<body>
  <div class="page">
    <!-- page-main -->
    <div class="main no-padding-trl" id="main" style="display:block;">
    </div>

    <!-- fixed-tabs -->
    @@include('_footer.html', { active:'wallet' })
  </div>

  <!-- 页面加载动画 -->
  <div class="ajax-loading" style="display:none">
    <div class="circle-a"></div>
    <div class="circle-b"></div>
  </div>

  @@include('_commonJS.html')
  <script src="../../../static/promotion/2015901/js/wallet.js"></script>
</body>

</html>
